{% extends 'accounts/main.html' %}
{% load static %}
{% block content %}
<div style="min-height:400px;background:#242424;color:white;padding: 20px 0px 10px 0px">
<div class="container" style="min-height:350px;background:#242424;padding: 20px 0px 10px 0px">
    <center>
  <h4 style="color:#fbc531">Competative Tracker Towards Nuturing Coding Culture a competative coding platform<br>
powered by<br>
Maharaj Vijayaram Gajapathi Raj College of Engineering (Autonomous)<br>
        to Encourse students to learn Coding.</h4><br>
  <p style="font-size:18px">
      These days many students are worrying about coding. Though they are interested in coding, lack of proper guidance the student may feel difficulty in coding. To make coding easy and familiar one has to practice coding. Though there were many coding platforms, one may not find questions according to their level of coding. So to make this easier this platform asks the student to choose one category among four categories [Seeker, Practitioner, Challenger, Performer] based on some earlier experiences, level of coding and then train them.
Nowadays we can see competitive coding in terms of recruitment. Companies like TCS, Infosys are conducting exams like TCS codevita, HackwithInfyTQ for recruiting students. Students who can excel in programming could qualify these exams and can go for further interviews with high packages. So to make these things happen student should have good grip in coding. As we all know Practice is the only key to success. This platform helps them to practice daily based on their level of coding and nurturing them towards coding culture. This platform also helpful in tracking students those are good at coding using leaderboard positions. So this report is also helpful for a student which adds weight to his resume.
This platform helps in incorporating competitive coding culture among the students and motivate them to excel in coding.</p>
<img  style="padding:0px 0px 15px 0px" src="{% static 'images/main/cat.png' %}">
</center>
    </div>
</div>
{% endblock %}