{% extends 'accounts/main.html' %}
{% load static %}
{% block content %}
<div class="contact" style="background:#242424;color:#fff;min-height:350px;padding:15px 0px 10px 0px;">
    <center>
    <h3>Contact Us</h3>
        <pre style="color:#fff">

            MVGR College of Engineering is a technological institute located in Vizianagaram,
            Andhra Pradesh, India. Previously it was affated to Jawaharlal Nehru Technological University, Kakinada,
            but now MVGRCE has turned into an autonomous
            Vijayaram Nagar campus, Chintalavalasa, Vizianagaram, Andhra Pradesh 535005
            Phone: 08922 241732/241039
            webdev@mvgrce.edu.in
        </pre>

    </center>
</div>

{% endblock%}