
<!------ Include the above in your HEAD tag ---------->

<footer class="footer-section bg-with-black" style="position:relative;overflow:auto;">
  <div class="footer-top-section">
      <div class="container">
          <div class="row" style="position:relative;overflow:auto;">

             <div class="col-md-6 col-sm-6 col-xs-12" style="background:black;position:relative;overflow  :auto;">
                  <div class="single-fta " style="position:relative;overflow:auto;">

                      <ul class="fta-list">
                        <h5 class="fta-title">Competitive Tracker Towards Nurturing Coding Culture a competitive coding</h5>
                          <li>  platform powered by Maharaj Vijayaram Gajapathi Raj College of Engineering (Autonomous)
    to Encourse students to learn Coding.</li>

                      </ul>
                  </div>
              </div>


              <div class="col-md-3 col-sm-6 col-xs-12" style="background:black ">
                  <div class="single-fta" style="position:relative;overflow:auto;">
                      <h3 class="fta-title">Contact Us</h3>
                      <ul class="fta-list">
                          <li>Address: Chintalavalasa, Vizianagaram, Andhra Pradesh 535005</li>
                          <li>Phone: 08922 241732/241039</li>
                          <li>webdev@mvgrce.edu.in</li>
                      </ul>
                  </div>
              </div>
            <div class="col-md-3 col-sm-6 col-xs-12" style="background:black">
                  <div class="single-fta" style="position:relative;width:100%;overflow:auto;">
                      <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15172.982707323841!2d83.4055798!3d18.060178!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x1c634bbcd67ea3bf!2sMaharaj%20Vijayaram%20Gajapathi%20Raj%20College%20of%20Engineering%20(Autonomous)!5e0!3m2!1sen!2sin!4v1622959237125!5m2!1sen!2sin"  style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                  </div>
              </div>

          </div>
      </div>
  </div>
  <div class="footer-bottom-area">
      <div class="container" id="f" style="background:black">
          <div class="row" style="background:black">
              <div class="col-xs-12">
                  <div class="footer-bottom">
                      <div class="row">
                          <div class="col-md-6 col-sm-12 col-xs-12">
                              <div class="fba-copyright">
                                  <p>Copyright © 2021 batch 6c MVGR All rights reserved.</p>
                              </div>
                          </div>
                          <div class="col-md-6 col-sm-12 col-xs-12">
                              <div class="fba-links">
                                  <ul>
                                      <li><a href="{% url 'about' %}">About</a></li>
                                      <li><a href="{% url 'contact' %}">Contact Us</a></li>
                                      <li><a href="#">Term & Conditions</a></li>
                                      <li><a href="#">Privacy Policy</a></li>
                                      <li><a href="https://g.page/MVGRCE?share">Sites Map</a></li>
                                  </ul>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</footer>


<!--<footer class=" text-center text-lg-start" >
<div style="padding-top: 10px;">
<div class="container p-4">

<div class="row" >

<div class="col-lg-6 col-md-12 mb-4 mb-md-0">
  <h5 class="text-uppercase">Competitive Tracker Towards Nurturing Coding Culture</h5>

  <p>
    Competitive Tracker Towards Nurturing Coding Culture a competitive coding platform powered by Maharaj Vijayaram Gajapathi Raj College of Engineering (Autonomous)
    to Encourse students to learn Coding.


  </p>
</div>


<div class="col-lg-3 col-md-6 mb-4 mb-md-0">
  <h5 class="text-uppercase">About</h5>

  <ul class="list-unstyled mb-0">
    <li>
      <a href="https://mvgrce.com" class="text-dark">MVGR</a>
    </li>
    <li>
      <a href="#!" class="text-dark">CCC</a>
    </li>

  </ul>
</div>

<div class="col-lg-3 col-md-6 mb-4 mb-md-0">
  <h5 class="text-uppercase mb-0">Links</h5>

  <ul class="list-unstyled">
    <li>
      <a href="#!" class="text-dark">Link 1</a>
    </li>
    <li>
      <a href="#!" class="text-dark">Link 2</a>
    </li>
    <li>
      <a href="#!" class="text-dark">Link 3</a>
    </li>
    <li>
      <a href="#!" class="text-dark">Link 4</a>
    </li>
  </ul>
</div>

</div>

</div>



<div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);color:white;">
© 2021 Copyright:
<a class="text-light" href="https:mvgrce.com">MVGR</a>
</div>
</div>
</footer>
-->