{% extends 'accounts/main.html' %}
{% block content %}
<center>
<div style="background:#242424;color:#fff;min-height:350px;padding:35px 0px 10px 0px;">
   <div class="container" style="background:#242424;">
   <h1>Status of your code</h1>
   <table class="table table-dark table-striped" style="width: 75%;">
      <tr style="border: 1px solid #dddddd;">
         <th style="border: 1px solid #dddddd;">Number of test cases</th>
         <th style="border: 1px solid #dddddd;">test cases passed</th>
         <th style="border: 1px solid #dddddd;">marks gained</th>
         <th style="border: 1px solid #dddddd;">Status</th>
       </tr>
      <tr style="border: 1px solid #dddddd;">
        <td style="border: 1px solid #dddddd;">2</td>
        <td style="border: 1px solid #dddddd;">{{tcs}}</td>
        <th style="border: 1px solid #dddddd;">{{marks}}</td>
        {%ifequal tcs 2%}
        <td style="border: 1px solid #000;background-color:#28a745">Approved</td>
        {%else%}
        <td style="border: 1px solid #dddddd;background-color:#dc3545">Please Try Again</td>
        {%endifequal%}
      </tr>
   </table>
</div>
</div>
</center>
{% endblock %}